body{
    background-color: black;
}

h1 {
    text-align: center;
    color: white;
    font-size: 60px;
}

h2 {
    color: red;
    font-size: 80px;
}

p {
    color: green;
    font-size: 80px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
}